<head>
  <meta name="description" content="Cannaworxs job board and community space for the Cannabis Industry.  This site provides a complete listing of positions requiring the skills of veterans in the Cannabis Industry, as well as to profiles for Cannabis Industry professionals.">
	<meta name="keywords" content="Cannabis,,Industry,Jobs,Growers,Trimmers,Retail,Developers,Contracts,Freelance,Remote,Telecommute,Consultants">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="icon" type="image/png" href="/images/favicon.png">
</head>
